<%= content_for :title do -%>
	gFace
<% end -%>

<div id="main_container" style="background-color: #eeeeee;">
	<div id="main_container_center">
		<a href="/accounts/register" class="big_button green" style="bottom: 230px; right:0px;">
			直接注册接入
		</a>
		<a href="<%= @google_oauth_path -%>" class="big_button google_plus" style="bottom: 150px; right:0px;">
			通过google+帐号登陆
		</a>
	</div>
</div>
