<%= content_for :title do -%>
	gFace - 注册
<% end -%>

<div id="main_container" style="background-color: #eee;">
	<div id="main_container_center" style="width:400px">
		<form id="submit_form" action="/misc/facecreate" method="POST" enctype="multipart/form-data">
			<input type="text" name="lname" placeholder="姓"/>
			<input type="text" name="fname" placeholder="名"/>
			<input type="text" name="age" placeholder="年龄"/>
			<input type="text" name="email" placeholder="Email地址"/>
			<input type="text" name="from" placeholder="公司"/>
			<p>选择性别: <select name="gender">
				<option value="Male">基佬</option>
				<option value="Female">妹子</option>
			</select></p>
			<p>上传照片: <input type="file" name="photo" style="width:auto"/></p>
			<input class="btn btn-large btn-block btn-primary" type="submit" value="提交"/>
		</form>
	</div>
</div>
