<form action="/misc/facematch" method="POST" enctype="multipart/form-data">
  <p>upload picture<input type="file" name="photo" /></p>
  <input type="submit" value="Submit" />
</form>

<HR>

<form action="/misc/facecreate" method="POST" enctype="multipart/form-data">
  <p>upload picture <input type="file" name="photo"/></p>
  <p>First name <input type="text" name="fname"/></p>
  <p>Last name <input type="text" name="lname"/></p>
  <p>Age <input type="text" name="age"/></p>
  <p>Gender 
  	<select name="gender">
  		<option value="Male">Male</option>
  		<option value="Female">Female</option>
	</select>
  </p>
  <p>Email <input type="text" name="email"/></p>
  <p>From Where <input type="text" name="from"/></p>
  <input type="submit" value="Submit" />
</form>
