<!DOCTYPE html>
<html>
    <head>
        <title>gFace: Face Recgnization on Google Glass with Google Plus </title>
        <link rel="stylesheet" href="/static/style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
    	{% if not auth %}
			<h3>gFace: Face Recgnization on Google Glass</h3>
        	<a href="/glass/oauth/authorize">Install it</a>
		{% else %}
			<h1>Thank you for installing this application!</h1>
		{% endif %}  
    </body>
</html>
